
/****************************************
  Components
*****************************************/

/**
 * Hero Tile
 */

.hero-tile {

    text-align: center;
    display: inline-block;
    width: 270px;
    height: 290px;
    vertical-align: top;
    color: #3C6807;
    background-color: orange;
    padding-top: 55px;
    position: relative;
    margin: 0 10px;

    -webkit-transform: translate(0px,25px);
    transform: translateY(25px);

   
    box-shadow: 0px 0px 15px -5px #000;

}

.hero-tile.services {
    width: 360px;
}

.hero-tile.events {
    width: 180px;
}


.hide {
    display:none
}

/**
* Nav
*/
.navbar {
    overflow: hidden;
}

.navbar .brand {
  display: block;
  float: left;
}
.nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
}


