/**
 * Layout Abstractions
 */

.panel > div {
    margin: 0 auto;
    width: 1300px;
    min-height: 350px;
    text-align: center;

    margin-top: 200px;
    width: 750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.panel h1 {
	border-top: 1px solid rgb(87, 144, 193);
	font-family: 'Raleway', sans-serif;
	text-align:left;
}


.hero {
    background-color: blue;
}


.services-content {
    background-color: green;
}
.services-content > div {
	margin-top: 100px;
}

.prices-content {
    background-color: yellow;
}

/**
 * Hero Tiles
 */

 .hero-tiles {
    
 }


.footer {
    position:fixed;
    bottom:0;
    right:0;
}
.sfooter > div {
    position:absolute;
    bottom:0;
    right:0;
}