/**
 * Layout Abstractions
 */

.panel > div {
    margin: 0 auto;
    width: 1300px;
    min-height: 350px;
    text-align: center;
}


.hero {
    background-color: blue;
}


.services-content {
    background-color: green;
}
.services-content > div {
	margin-top: 100px;
}

.prices-content {
    background-color: yellow;
}

/**
 * Hero Tiles
 */

 .hero-tiles {
    
 }


