<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Minecraft Watcher</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link href="css/mcmain.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129407298-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-129407298-1');
        </script>   
    </head>

    <body>
        
        {{ content }}

        {% include mcfooter.html %}

    </body>

</html>